body {
  background-color: rgb(234, 233, 243);
  align-content: center;
  align-items: center;
}
.container {
  margin-top: 13rem;
  display: block;
  justify-content: center;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 5em;
}

h2 {
  text-align: center;
  font-size: 2em;
}

#YesBtn {
  background-color: rgb(5, 173, 5);
}

#NoBtn {
  background-color: rgb(238, 13, 13);
}


.Btn {
  color: white;
  border: 0cap;
  width: 8em;
  padding: 1em;
 cursor: pointer;
  font-size: 2em;
  border-radius: 15px;
  
}

#YesBtn:hover{
background-color: rgb(15, 151, 151);
}

#NoBtn:hover{
  background-color: rgb(15, 151, 151);
  }

.Btns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
